---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Apply Now">
    <main class="mt-8 flex flex-col items-center justify-center min-h-screen ">
        <h1 class="text-3xl font-semibold text-blue-ncs-600 mb-8">Application Page</h1>
        <div class="shadow-md rounded-lg overflow-hidden w-full max-w-2xl">
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSc4gIxbKP1lKrsT8zrRlbtUZ9Z7b75-6OrAQZayxIn5ia9DDg/viewform?embedded=true"
                width="640"
                height="1000"
            >Loading…</iframe
            >
        </div>
        <a href="/" class="mt-8 mb-8 px-4 py-2 bg-cerulean-500 text-white text-white px-6 py-3 rounded font-bold transition duration-300 ease-in-out hover:bg-blue-ncs-600 no-underline">&larr; Back to Home</a>
    </main>
</Layout>
